@import '../1-base/colors.sass'
@import '../1-base/numbers.sass'

#content
  background: rgba($white, .85)
  padding: 50px
  margin: 50px 40px
  // max-width: 800px
  
  h2
    font:
      size: 2rem
      weight: normal
  h3
    font:
      size: 1.7rem
      weight: normal
  p
    line-height: 1.38

  // Bild und Text nebeneinander (wie Publikationen)
  .wp-block-media-text
    display: flex !important
    grid-template-columns: auto !important
    margin-bottom: 2rem
    img
      width: 100px
      height: auto
    *
      margin: 0 !important
  
  @media(max-width: $mobile-break-tablet)
    padding: 1.5rem
    margin: 1.5rem
    word-break: break-word
    h2
      font:
        size: 1.5rem
        weight: normal
    h3
      font:
        size: 1.3rem
        weight: normal
    p
      font-size: .9rem
      line-height: 1.38
