@import '../1-base/colors.sass'

body.home

  // .footer-container
  //   position: absolute
  //   // height: 100%
  //   bottom: 0
  //   margin-top: 0

.footer-container
  position: absolute
  bottom: 0
  // height: 180px
  width: 100%
.footer
  display: flex
  justify-content: space-evenly
  align-items: center
  background: rgba($primary, .9)
  height: 160px
  width: 100%
  padding: 0
  // box-sizing: padding-box
  